.tools{
    display: flex;
    font-size: smaller;

}

.useful-tools{
    display: flex;
    
}
@media (max-width: 810px){
    .tools{
      flex-direction: column;
      position: fixed;
      left: 0;
      top: 0;
      background-color: #161718;
      padding: 10px;
      z-index: 100;
      height: 100vh;
      overflow-y: auto;
      margin-top: 50px;
      margin-left: 10px;
      font-size: smaller;

    }

    .tool{
        margin-top: 20px;
    }

    .tool-container{
        margin-left: -25px;
    }

    .stroke-tool{
        width: 200px;
    }
}

